<div class="container">
  <h1 class="text-danger text-center">Cricket Team</h1>
  <hr />
<div class="row">
   <div class="col-4  ">

    <div class="addPlayer p-4 background">
    <h3 class="text-primary">Add Your Player</h3>
    <b>Player Name : </b><input type="text" [(ngModel)]="playerObj.PlayerName" />
    <br /><br />
    <b>Player Categery : </b>
    <select [(ngModel)]="playerObj.categery">
      <option value="Batting">Batting</option>
      <option value="Bowling">Bowling</option>
      <option value="AllRounder">All Rounder</option></select
    ><br /><br />
    <b>Played Matches : </b><input type="number" [(ngModel)]="playerObj.matches" />
    <br /><br />
    <b>Total Runs : </b><input type="number" [(ngModel)]="playerObj.runs" />
    <br /><br />
    <button class="btn btn-primary" (click)="savePlayer()">Submit</button>
    <button class="btn btn-success ms-3" (click)="updateButton()">Update</button>
    </div>
   </div>
   <div class="col-8">
<!-- ^ @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<h3 class="text-primary">Player's Table</h3>


<table class="table table-striped" border >
  <thead class="bg-secondary">
  <tr *ngIf="playerArray.length != 0">
    <th>Sr.No.</th>
    <th>Player Name</th>
    <th>Categery</th>
    <th>Played Matches</th>
    <th>Total Runs</th>
    <th>Edit</th>
    <th>Delete</th>

  </tr>
</thead>
<tbody>
  <tr *ngFor="let obj of playerArray; let i = index ; first as f ; last as l; even as e ; odd as o">
    <td>{{ i + 1 }}</td>
    <td>{{ obj.PlayerName | uppercase }}</td>
    <td>{{ obj.categery  }}</td>
    <td>{{ obj.matches  }}</td>
    <td>{{ obj.runs  }}</td>
    <td><button class="btn btn-success" (click)="editPlayer(i)">Edit</button></td>
    <td><button class="btn btn-danger" (click)="deletePlayer(i)">Delete</button></td>

  </tr>
  <tr *ngIf="playerArray.length === 0">
    No Player to Show .
  </tr>
</tbody>
</table>
   </div>
</div>

<hr />



</div>
